@{
    ViewBag.Title = "Home Page";
}

<div class="outer">
    <div class="qpage 01-goal">
        <span class="heading">
            What is your goal?
        </span>
        <div class="control-group">
            <input class="input-ctrl" type="button" value="Purchase" />
            <input class="input-ctrl" type="button" value="Refinance" />
        </div>
    </div>
    <div class="qpage 02-type">
        <span class="heading">
            Property Type
        </span>

    </div>
    <div class="qpage 03-occu">
        <span class="heading">
            Occupancy
        </span>
    </div>
    <div class="qpage 04-when">
        <span class="heading">
            When do you plan to buy a home?
        </span>

    </div>
    <div class="qpage 05-detl">
        <span class="heading">
            Some additional details
        </span>

    </div>
    <div class="qpage 06-pric">
        <span class="heading">
            Price and down payment
        </span>

    </div>
    <div class="qpage 07-qual">
        <span class="heading">
            Price and down payment
        </span>

    </div>
    <div class="qpage 08-borr">
        <span class="heading">
            Your information
        </span>

    </div>
    <div class="qpage 09-thnx">
        <span class="heading">
            Thank you!
        </span>

    </div>
</div>
<div class="page-indic">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot selected"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/index.js")"></script>
}